@import url('https://fonts.cdnfonts.com/css/seaford');

:root {

    /* -- Palette -- */

    /* Palette Tema Rosso Principale Chiaro */
    /* Palette di default */
    --main-red: #A7393B;
    --main-red-rgb: 167, 57, 59;
    --main-white: #FEF8EC;
    --main-white-rgb: 254, 248, 236;
    --main-bg-light: var(--main-white);
    --main-text-light: #141414;
    --main-container-border-light: #B0B0B0;
    --main-container-fill-light: #E7E7E7;
    --main-link-color: #0d6efd;

    /* Palette Tema Rosso Principale Scuro */ 
    --main-bg-dark: var(--main-text-light);
    --main-text-dark: var(--main-bg-light);
    --main-container-border-dark: var(--main-bg-light);
    --main-container-fill-dark: var(--main-text-light);
    --main-link-color-dark: #99c3ff;

    /* Palette Tema Verde Secondario Chiaro */
    --secondary-green: #34642E;
    --secondary-green-rgb: 52, 100, 46;
    --secondary-white: #ECF9D8;
    --secondary-white-rgb: 236, 249, 216;
    --secondary-bg-light: var(--secondary-white);
    --secondary-text-light: #201D1D;
    --secondary-container-border-light: #B0B0B0;
    --secondary-container-fill-light: #E7E7E7;
    --secondary-link-color: #0d6efd;

    /* Palette Tema Verde Secondario Scuro */
    --secondary-bg-dark: var(--secondary-text-light);
    --secondary-text-dark: var(--secondary-bg-light);
    --secondary-container-border-dark: var(--secondary-bg-light);
    --secondary-container-fill-dark: var(--secondary-text-light);
    --secondary-link-color-dark: #99c3ff;

    /* -- Dichiarazione variabili del tema -- */

    /* Tema Corrente impostato al default */
    --current-theme-bg: var(--main-red);
    --current-theme-bg-rgb: var(--main-red-rgb);
    --current-theme-text: var(--main-white);
    --current-theme-text-rgb: var(--main-white-rgb);
    --current-mode-theme-bg-light: var(--main-bg-light);
    --current-mode-theme-text-light: var(--main-text-light);
    --current-mode-theme-container-border-light: var(--main-container-border-light);
    --current-mode-theme-container-fill-light: var(--main-container-fill-light);
    --current-mode-theme-bg-dark: var(--main-bg-dark);
    --current-mode-theme-text-dark: var(--main-text-dark);
    --current-mode-theme-container-border-dark: var(--main-container-border-dark);
    --current-mode-theme-container-fill-dark: var(--main-container-fill-dark);
    --current-mode-theme-link-color-light: var(--main-link-color);
    --current-mode-theme-link-color-dark: var(--main-link-color-dark);

    /* Colori del tema principale / Secondario immutabili */
    --theme-bg: var(--current-theme-bg);
    --theme-bg-rgb: var(--current-theme-bg-rgb);
    --theme-text: var(--current-theme-text);
    --theme-text-rgb: var(--current-theme-text-rgb);
    
    /* Colori del tema principale / Secondario mutabili chiaro e scuro */
    --mode-theme-bg: var(--current-mode-theme-bg-light);
    --mode-theme-text: var(--current-mode-theme-text-light);
    --mode-theme-container-border: var(--current-mode-theme-container-border-light);
    --mode-theme-container-fill: var(--current-mode-theme-container-fill-light);
    --mode-theme-link-color: var(--current-mode-theme-link-color-light);

    transition: background-color 0.3s;
}

/* Selezionato il tema secondario */
:root[data-theme="secondary"] {
    --current-theme-bg: var(--secondary-green);
    --current-theme-bg-rgb: var(--secondary-green-rgb);
    --current-theme-text: var(--secondary-white);
    --current-theme-text-rgb: var(--secondary-white-rgb);
    --current-mode-theme-bg-light: var(--secondary-bg-light);
    --current-mode-theme-text-light: var(--secondary-text-light);
    --current-mode-theme-container-border-light: var(--secondary-container-border-light);
    --current-mode-theme-container-fill-light: var(--secondary-container-fill-light);
    --current-mode-theme-bg-dark: var(--secondary-bg-dark);
    --current-mode-theme-text-dark: var(--secondary-text-dark);
    --current-mode-theme-container-border-dark: var(--secondary-container-border-dark);
    --current-mode-theme-container-fill-dark: var(--secondary-container-fill-dark);
    --current-mode-theme-link-color-light: var(--secondary-link-color);
    --current-mode-theme-link-color-dark: var(--secondary-link-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mode-theme-bg: var(--current-mode-theme-bg-dark);
    --mode-theme-text: var(--current-mode-theme-text-dark);
    --mode-theme-container-border: var(--current-mode-theme-container-border-dark);
    --mode-theme-container-fill: var(--current-mode-theme-container-fill-dark);
    --mode-theme-link-color: var(--current-mode-theme-link-color-dark);
  }
}

/* Colori del background e del contenuto che non variano tra chiaro e scuro */
.theme-bg-text {
    color: var(--theme-text) !important;
    background-color: var(--theme-bg) !important;
}

.theme-text {
    color: var(--theme-text);
}

/* Colori del background e del contenuto che variano tra chiaro e scuro */
.mode-bg-text {
    color: var(--mode-theme-text);
    background-color: var(--mode-theme-bg);
}

.mode-text {
    color: var(--mode-theme-text);
}

.mode-container {
    border-color: var(--mode-theme-container-border) !important; /* "!important" is needed in order to override bootstrap's default border color */
    background-color: var(--mode-theme-container-fill);
}

.mode-modal {
    background-color: var(--mode-theme-container-fill);
}

.mode-input-border-color {
    border-color: var(--mode-theme-text);
}

.mode-link-color {
    color: var(--mode-theme-link-color);
}

/* Classi simil-bootstrap custom */

.border-mode-text {
    border-color: var(--mode-theme-text);
}

.border-solid {
    border-style: solid;
}

.icon-success {
    color: #1f751e;
}

.icon-danger {
    color: #9e3030;
}

/* Comportamenti custom */

a.nav-link.theme-text:hover {
    color: rgba(var(--theme-text-rgb), 0.9);
}

.btn.theme-bg-text:hover {
    background-color: rgba(var(--theme-bg-rgb), 0.9);
}

.opacity-50 {
    opacity: 0.5 !important;
}

/* Css Custom */

body {
    font-family: 'Seaford', sans-serif;
}

/* Classi custom per implementare il comportamento con i BreakPoint di Bootstrap
    non presenti di default */
@media (min-width: 768px) {

    .static-md {
        position: static;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: auto;
    }

    #booking-params {
        min-height: 150px;
    }

}
